@charset "utf-8";

*{margin:0px;padding: 0px;}
html,body,.wrap,.right,#container{height:100%;}
a{text-decoration: none;color: #000;}
em{font-style: normal;}
.clearfix{overflow: hidden;*zoom:1;}


.hid{display: none;} 
.mo_footer{background-color: #fff;position: absolute;bottom:0px;width: 100%;}
.collapse{height: 3.5em;line-height:3.5em;border-bottom: 1px solid #e8e8e8;}


.wrap{font-size: 16px;}
.s{float: left;width: 33.3%;text-align: center;}
.sifter{border-bottom: 1px solid #e8e8e8;}
.sifter i{font-size: .5em;}
.ss{width: 100%;}
.sifter,.ss li{height: 2em;line-height: 2em;}
.ss{border: 1px solid #e8e8e8;border-top:0px;}


 /*
.dd_wrap{padding:20px;border-top: 1px solid #f2f2f2;}
.ddw_left{width: 142px;float: left;margin-right: 10px;}
.ddw_left img{height: 106px;width: 100%;}
.ddw_right{ }
.ddw_right h1{line-height: 1.8;}
.ddwr_p{color: #999;}
.ddwr_price{color: #F95656;}
.ddwr_aver {font-size: 12px;}


/*  map 自定义覆盖物  */
.detail {position: relative;float: left;font-size: 14px;font-weight: bold; border-radius: 5px;}
.detail_price{display: inline-block; padding: 6px; background-color: #FD7D7D;color: #fff;}
.detail_deco{ background-color: #FFF;padding:6px;display: none;}
.detail_deco em{color:red;}
.detail_price:hover{background-color:#F83333;color: #fff; }
.detail_price:hover~.san{border-top: 10px solid #F83333;}
.detail_price:hover+.detail_deco{display: inline-block;}
.san{
    position: absolute;
    bottom: -10px;
    left: 5px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #FD7D7D;
}


